includes:
	- vendor/ekino/phpstan-banned-code/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	excludes_analyse:
		- %rootDir%/../../../vendor/*

		- %rootDir%/../../../src/DependencyInjection/Configuration.php

		- %rootDir%/../../../src/Drivers/*
		- %rootDir%/../../../tests/Drivers/*
