.LinkWidget_Preview i {
    padding: 0.3rem 0.5rem;
}

.LinkWidget_Preview .btn-default {
    margin: 0 0.3rem;
}

.LinkWidget_Preview_Form {
    border-left: 2px solid #CCC;
    padding-left: 1rem;
}

.LinkWidget_Preview_Form-hidden {
    display: none;
}

.LinkWidget_ParameterContainer .input-group {
    width: 100%;
}

.LinkWidget_ParameterContainer .input-group-addon {
    width: 20%;
}
